/* ITS.css - main CSS file for ITS
Author(s): Greg Krudysz
W3C CSS Validator results for ITS.css (CSS level 2.1)
======================================================*/
body { margin: 0 2%;
	   padding: 0;/*height: 100%;*/
	   font: 120% arial, sans-serif; text-align: center;color: black;background: #fff;
}
code { font-weight:bold}
.ITS_error { background: #ff9;color: red;font-weight:bold;border:2px solid #000; }
.todo {  background: #ff9;color: green;border:2px solid #000; padding:0.5em }
#slider { z-index: 2; }
/*
#N1 { border: 2px solid red; }
#N2 { border: 2px solid green; }*/
#reviewNavTxt { display:none;position:relative; padding-bottom:1em; border:none; color:#666; font-weight:bold; }
#slider .ui-slider { border:1px solid #fff; background:#fff;}
#slider .ui-slider-handle        { border: 1px solid #999; background:#fff; outline:0;}
#slider .ui-slider-handle:hover  { border: 1px solid #666; background:#CCC;cursor: pointer;}
#slider .ui-slider-handle:focus  { border: 1px solid #666; background:#999;cursor: pointer;}
/*.ui-widget { border: 1px solid blue; color:pink; background:red;}*/

#ITS_nav_prev,#ITS_nav_next { display: none; }
.ITS_tag a { text-decoration: none; font-size: 120%; }
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*a { border-radius:7px 7px 7px 7px }*/
a.wrapper { color:#999;text-decoration:none;outline:0}
a.ITS:link { color:#999;text-decoration:none;outline:0} 
a.ITS:visited { color:#666;text-decoration:none;outline:0} 
a.ITS:hover {color:#666;font-weight:bold} 
h1, h2, h3, h4, h5, h6 {
  font-size: 0; 
  color: black; 
  font-family: 'times new roman', arial, verdana, helvetica,sans-serif; 
  font-style: normal; 
  font-weight: normal;	
  font-variant: normal;
  background-color: #fff;	 
  margin: 14px 0 4px 10px;
}
h1 {font-size: 1.60em;}
h2 {font-size: 1.50em;}
h3 {font-size: 1.40em;}
h4 {font-size: 1.30em;}
h5 {font-size: 1.26em;}
h6 {font-size: 1.20em;} /* Defined default Header sizes */
input:-moz-focus-inner {border: 0;}
div.ITS_ghost { 
  position: relative;
  background: #fff;
	padding: 0;
	height: auto;
}
div.ITS_MESSAGE {
  position:relative;
  color: #999;
  padding: 0;
  text-align: left;
  width: 100%;
  min-height: 403px;
  vertical-align: middle;
  border:1px solid #fff;
  background-image:url('../css/media/tree.jpg');
  background-repeat:no-repeat;
  background-position:right top;
}
div.ITS_MESSAGE ul {
  position: relative;
  margin: 15% 1%;
  text-align: left;
  font-size: 120%;
  height: 100%;
  border:none;
  font: bold 18px Georgia, sans-serif;
}
div.silver2 { border:2px solid #c0c0c0;background-color:#fff;padding:0.5em 0.5em;}
#nav1 {padding:0.5em;margin:-5px;border:1px solid #fff;}
#nav1 ul {float:left;padding:0;margin:0;list-style:none;background-color:#eee;}
#nav1 a {display: block; width: 10em; height: 120%;font:120% Georgia;font-weight:bold;}
#nav1 li {float:left;width: 10em;border:none;z-index:1}
#nav1 li ul {position: absolute;width: 10em;left: -999em;}
#nav1 li:hover ul {left: auto;}

/* Navigation Index */
ul.nav {list-style-type:none;text-align:center;position:relative;z-index:2;padding:0;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;}
ul.nav li{display:inline;text-align:center;font-size:8pt;margin:0 3px}
ul.nav li a{color:#666;background-color:#FFF;border:2px solid #ddd;text-decoration:none;outline:0;padding:1px 10px}
ul.nav li a:hover{color:#000;border:2px solid #666}
ul.nav li a#current{color:#666;font-weight:700;font-size:medium;border:2px solid #666;background-color:#FFF}

hr.chapter { border:1px solid #ddd;margin:-1.5em 2em 0 2em}

/*font-weight:700;font-size:medium;*/
table.choice {border:1px solid #999;border-collapse:collapse}
table.choice td {border:1px solid #999;padding:0.25em}
.choice_del {color:#666;background:#FF9;font-weight:bold}
.choice_del:hover{cursor:pointer;color: #FFF;background:#a22;}

.QuestionMode {
  /*position:relative;*/
  float:left;
  text-align:left;
  margin-top:-1em;
  background: #fff;
  z-index: 1
}
.headering { color: blue; }	
a:link    { color: #B52C07; }
a:visited { color: blue;    }
a:focus   { color: #000;    }
a:hover   { color: purple;  }
a:active  { color: black;   }
h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }
h2 {	color: #B52C07;font: 140% georgia, times, "times new roman", serif;}
h2 a { text-decoration: none; }
h3   { font: 110% georgia, times, "times new roman", serif;text-align: left;color: blue;}
h3 a.header  {  color: red; border: none;}
p  { margin:0; padding: 10px;         }
Q  { font: 8pt Georgia, serif;        }
TT { font-family: aerial,sans serif;      }
TD { text-align: center;border-width: 1px;border-style: none;padding: 0px;}
img.ITS_LaTeX { position:relative;vertical-align:middle;/*height:100%*/ }
/*IMG  { max-height:200px;  }*/

/* MODE */
input[type="radio"].mode + label {cursor: pointer;}
input[type="radio"].mode + label:hover {color:#000;}

input[type="radio"].toggle {display: none;color:red}
input[type="radio"].toggle:checked + label {cursor: pointer;border:1px solid #999;}
input[type="radio"].toggle + label {cursor: pointer; width: 3em;padding: 10px;}
input[type="radio"].toggle:checked + label.btn:hover {
    background-color: inherit;
    background-position: 0 0;
}
div.modeToggle {text-align:middle }
.round {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#feedbackContent { vertical-align:top;}
/*==========================================================================
								M A I N
============================================================================*/
#pageContainer {
	position: relative;
	width: 95%;
	margin-left:-100%;
	margin: 0 0.1em;
	padding: 0.1em;
	margin:0 auto; /*Centers the Container*/
	border:none;/*border-left: 2px dotted #eee;border-right: 2px dotted #eee;*/
}
/*==========================================================================
               M E N U
============================================================================*/
#menuContainer {
  position: relative;
	/*margin:10px auto 5px auto;*/
	text-align: right;
	padding: 0em;
	overflow: auto;
	/*display: inline;*/
}
#modeContainer {
    position: relative;
	text-align: middle;
	padding: 1em;
	/*overflow: auto;*/
}
#header h1 {
	position: absolute;
	left: -500em;
}
div.fl { float:left;padding:1em 0;}
div.icon {
	float:left;
	text-align:center;
	color: black;
	border:2px solid silver;
	margin: 0.5em;
	padding: 0.5em;
	display:none;
}
div.icon:hover,div.icon:focus {
	color: white;
	background: #666;
	cursor: pointer;
}
div.icon:active {
	color: black;
	background: #ffd700;
	cursor: pointer;
}
/*==========================================================================
               M E S S A G E
============================================================================*/
#messageContainer {
  clear: both;
  position: relative;
	width: 100%; /* important */
	/*margin:0;*/
	text-align: left;
	background-color: #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
} 
#messageContainer span {
  position: relative;
	color: #666;
	padding: 0 0.5em;
	margin: 0 1em;
	background-color: #dcdcdc;
}
#messageContainer span:hover {
	color: #fff;
	background-color: #666;
	cursor: pointer;
}
#messageContainerContent{
  position: relative;
	width: 60%; /* important */
	padding:10px;
	text-align: left;
	margin: 0.5em 0;
	background-color: #ccc;
	display: none;
	border: 1px solid #666;
}
#frameContainer {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/*==========================================================================
               H E A D E R
============================================================================*/
#headerContainer {
  position: relative;
	width: 100%;
	padding:0;																										
	margin:0;
	border-top: 5px solid #777777;
	text-align: center;
	overflow: auto;
	/*display:in-line;*/
}
div.ITS_screen_L {
  float: left;
  width: 19%;
	height: 55px;
  font: 12pt Georgia, serif;
	font-weight: bold;
	border: 1px solid #AAA;
  background-color: #dcdcdc;
}
div.ITS_screen_L p {
  position: relative;
	height: 100%;
	vertical-align: middle;
}
div.ITS_screen_L:hover,div.ITS_screen_L:focus {
	color: white;
	background: #666;
	cursor: pointer;
}
div.ITS_screen_L:active {
	color: black;
	background: #ffd700;
	cursor: pointer;
}
/* active */
#ITS_screen_A {
  float: left;
	width: 80%;
  height: 55px;
	font: 10pt Georgia, serif;
	font-weight: bold;
	border: 1px solid #AAA;
	border-bottom: 0;
	background-color: #fff;
}
#ITS_screen_A ul{
  list-style-type: none;
  text-align: left;
  padding: 0;
	margin: 1em 0;
}
#ITS_screen_A li{ 
  display: inline;
  text-align: center;
  margin: 2px; /* between spacing */
	padding: 5px;
	border: 1px solid #fff;
}
#ITS_screen_A li#title {
	border: 0;
	background-color: #fff;
	color: #556B2F;
	font: 13pt Georgia, serif;
	font-weight: bold;
	cursor: default;
}
#ITS_screen_A li#break {
	background-color: #fff;
	color: gray;
	border-top:2px solid silver;
	border-bottom:2px solid silver;
	background-color: silver;
	font: 15pt Georgia, serif;
	cursor: default;
	padding: 0;
}
#ITS_screen_A li.active {
	border: 1px solid #666;
	cursor: default;
}
#ITS_screen_A a:hover   { color: #fff; }
#ITS_screen_A li.active:hover {
	color: #000;
	background-color: #fff;
	cursor: default;
}
#ITS_screen_A li:hover {
  color: #fff;
  border: 1px solid #666;
	background-color: #666;
	cursor: pointer;
}
/* *--* */
#ITS_screen_index {
  position: relative;
	font: 12pt Georgia, serif;
	font-weight: bold;
	border: 1px solid #fff;
	padding: 0.5em 0;
}
/*==========================================================================
               C O N T E N T
============================================================================*/
#contentContainer{
  position: relative;
	width: 100%;        /* important */
	height: auto;
	min-height: 500px;
}
.imagefloat {
	float: right;
	padding: 2px;
	border: 1px solid #9FA41D;
	margin: 0 0 10px 10px;
}
/* --- Question ------------------------------------------------ */
#ITS_QUESTION {
  position: relative;
}
TEXTAREA.ITS_TA {
  height: 75px;
  width: 60%;
  border: 3px solid silver;
  background-color: #F1F;
  padding: 10px;
} 
TABLE.ITS_QUESTION {
  clear:both;
  position: relative;
  /*width: 100%;*/
  table-layout: fixed;
  vertical-align: middle;
  border: 2px solid #FFFFFF;
} 
TD.ITS_QUESTION {
  position: relative;
	width: 100%;
	height: auto;
  text-align: left; 
	vertical-align: bottom;
	border: 1px dotted #FFFFFF;
	font-size: 12pt;
} 
div.ITS_QUESTION {
  position: relative;
	margin: 0 10%;
/*float: left;width: 79.7%; height:50px;background-color: #149;*/
}
/*
.ITS_QUESTION div {
  position: relative;
	/*width: 100%;  important *//*
	height: auto;
	border: 1px solid #FFF;
	margin: 0;
}*/
#ITS_QUESTION_TARGET {
    clear:both;
    position:relative;
	font-size:120%;
	/*background-color: pink;
	border: 2px solid #949;*/
}
div.ITS_question_text {
    clear: both;
	position: relative;
	/*width: 100%;*/
	/*height: auto !important;*/
	padding: 1em 0;
	margin:0;
	text-align: center;
	border-bottom: 2px solid #CCCCCC;
	z-index: 2;
	/*overflow: auto;*/ /* REVIEW: breaks */
} 
div.ITS_question_text2 {
	position: relative;
	width:49%;
	text-align: center;
	padding: 0;
	border: 4px solid #888;
}/*
div.ITS_question_text:hover{
	color: silver;
}*/
a.ITS_question_img { text-decoration: none; color: #00a;}
a.ITS_question_img:hover { background: #ff9;color: #a00;}
img.ITS_question_img {
  float: right;
  height: auto !important;
  padding: 0;
  margin: 0.5em 1em;
  max-height: 250px;
  max-width: 500px;
  text-align:right;
  vertical-align: middle;
  z-index: 3;
  border: 2px solid #fff;
}
img.ITS_question_img:hover { border: 2px dotted #ccc; }
img.ITS_question_img2 {
  float: right;
  height: auto !important;
  padding: 0;
  margin: 0.5em 1em;
  max-height: 250px;
  text-align:right;
  vertical-align: middle;
  z-index: 3;
  border: 2px solid #fff;
}
/*
div.ITS_question_img {
  position: relative;
  width:49%;
	padding: 0;
	max-height: 200px;
  text-align:center;
  background: limegreen;
}	
div.ITS_question_img img {
	position: relative;
	height: auto;
	margin: 0 auto;
  border: 1px solid silver;
	max-height: 200px; /* ATTENTION *-/
}*/
PRE.ITS_Equation {
   position: relative;
   clear:both;
   height: auto;
   text-align: center;
   vertical-align: middle;
   padding: 0.5em;
   margin: 1em 0;
   border-top: 1px solid #aaa;  
   background:#fff;
   border-bottom: 1px solid #aaa;
   font-family: aerial, sans serif;
   font-size: 14pt;
}
DIV.ITS_Equation {
   position: relative;
   width: 90%;
   text-align: center;
	 vertical-align: middle;
   padding: 0.25em 0.5em;
	 margin: 0.5em 0;
	 border: 1px solid #fff;
   border-top: 1px solid #aaa;  /*background:#fafafa;*/
	 border-bottom: 1px solid #aaa;
	 overflow: auto;
}
DIV.ITS_Equation IMG {
   position: relative;
	 /*max-width: 100%;*/
	 margin: 1em 0;
	 vertical-align: middle;
	 /*border: 3px solid purple;*/
	 /*padding: 0.5em;*/
}
PRE.MATLAB {
	 margin: 1em 0;
     border: 3px solid #070; /* /*#999; */
	 background: #dfd;
	 text-align: left;
	 font-size: 90%;
	 padding: 0.5em;
	 color: #000;
	 clear:right;
}
PRE.MATLAB_error {
	 margin: 1em 0;
     border: 2px solid #8B4513;
	 background: #fff;
	 text-align: left;
	 font-size: 90%;
	 padding: 0.5em;
	 color: #8B4513;
}
span.ML_comment { color: green; }
span.ML_error   { color: red;   }

/*------- Difficulty Rating Bar in Reviews Section -------*/
.difficulty-bar {
	background-color: #1a1a1a;
	height: 20px;
	padding: 1px;
	width: 200px;
	margin: 1px 0;			
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 3px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 3px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 3px #000 inset, 0 1px 0 #444;
}
.difficulty-bar span {
	display: inline-block;
	height: 100%;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;    
}
.orange span {
	float:left;
	background-color: #fecf23;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
	background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
	background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
	background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
	background-image: -o-linear-gradient(top, #fecf23, #fd9215);
	background-image: linear-gradient(top, #fecf23, #fd9215);  
}
/*------- ANSWER ------------------------------------------------ */
#ITS_ANSWER {
  position: relative;
	text-align: center;
}
DIV.ITS_ANSWER {
  position: relative;
  margin: 0 10%;
  padding: 1em 0;
  max-width: 100%;
  vertical-align: middle;
  clear: both;
  /*
    overflow:auto;
    clear: both;
	max-width: 80%;
	height: auto;
	margin: 0 10%;
	padding: 1em 0;
	text-align: center;
	display: table-cell;*/
}
DIV.ITS_ANSWER IMG {
  /*position: fixed;*/
  /*max-height: 250px;max-width: 350px;*/
}
DIV.ITS_ANSWER span.CHOICE {
	 float: left;
	 /*position: relative;*/
	 width: auto;
     border: 2px solid #999; 
	 margin: 0.5em;
	 padding: 0.25em 1em;
	 display: inline;
	 background: #fff;
	 white-space: nowrap;
	 overflow: auto;
}
DIV.ITS_ANSWER span.CHOICE pre.MATLAB {
	 margin: -5px; 
	 padding: 0;/*-0.25em -2em;*/
	 color: blue;
}
pre.MATLAB TABLE.ITS_ANSWER {
	 border: 2px solid red;
}
DIV.ITS_ANSWER SPAN.CHOICE_ACTIVE {
     position: relative;
	 float: none;
	 width: auto;
     border: 2px solid #aaa;
	 margin: 0.5em;
	 padding: 0.25em 1em;
	 display: inline-block;
	 text-align: center;
	 background: #fff;
	 white-space: nowrap;
}
DIV.ITS_ANSWER span.CHOICE_ACTIVE pre.MATLAB       {margin: -0.25em -1em;; padding: 1em;}
DIV.ITS_ANSWER span.CHOICE_ACTIVE pre.MATLAB:hover {margin: -0.25em -1em;; padding: 1em; background: #ffd700;}
DIV.ITS_ANSWER span.CHOICE_ACTIVE img 			   {margin:0; padding:0;}
DIV.ITS_ANSWER span.CHOICE_ACTIVE:hover {
     border-color: #00f;
	 color: #00f;
	 cursor: pointer;
	 background: #ffd700;
}
DIV.ITS_ANSWER span.CHOICE_SELECTED {
     position: relative;
     float: none;
	 width: auto;
	 margin: 0.5em;
	 padding: 0.25em 1em;
	 display: inline-block;
	 white-space: nowrap;
	 text-align: center;
	 border: 2px solid #00f;
	 color: #00f;
	 background: #ffd700;
}
DIV.ITS_ANSWER span.CHOICE_SELECTED pre.MATLAB { margin: -0.25em -1em; padding: 1em;background: #ffd700;}
UL.ITS_ANSWER {
   clear: both;
	 text-align: left;
	 list-style-type: none;
   padding: 0;
	 margin: 1em;
	 border: 1px solid black;
}
UL.ITS_ANSWER LI {
	 border: 1px solid #666;
	 padding: 0.25em 0;
	 margin: 0 1em;
}
UL.ITS_ANSWER LI:hover {
	 background-color: #dcdcdc;
	 cursor: pointer;
}
UL.ITS_ANSWER LI:focus {
	 background-color: #fffacd;
}
UL.ITS_ANSWER_IMG {
   position: relative;
	 /*list-style-type: none;*/
   padding: 0;
}
UL.ITS_ANSWER_IMG LI {
   position: relative;
	 /*display: inline;*/
	 border: 1px solid #666;
	 padding: 10px;
	 margin: 20px;
}
UL.ITS_ANSWER_IMG LI:hover {
	 background-color: yellow;
	 cursor: pointer;
}
UL.ITS_ANSWER_IMG LI IMG {
	 position: relative;
	 border: 1px solid #626;
}
UL.ITS_ANSWER_M {
     clear: both;
	 text-align: left;
	 list-style-type: none;
	 margin-right: 10px;
     padding: 0;
	 margin: 1em;
	 background: #fff;
}
UL.ITS_ANSWER_M LI {
   list-style: none;
	 padding: 0.25em;
	 margin: 0 1em;
}
UL.ITS_ANSWER_M LI:hover {
   /*border: 1px solid gainsboro;*/
	 background-color: #ffff77;
	 color: #0000ff;
	 cursor: pointer;
}
IMG.ITS_IMG_ANS {
  position: relative;
  max-height: 200px;
	max-width:  300px;
}
TABLE.ITS {
   position: relative;
	 width: 100%;
     vertical-align: top;
	 border: 1px solid #fff;
	 background-color: #fff;
}
TABLE.ITS th {
	 color: #00f;
	 text-align: center;
	 border: 1px solid #fff;
	 background-color: #fff;
}
TABLE.ITS th {
	 color: #00f;
	 text-align: center;
	 border-bottom: 1px solid #999;
	 background-color: #fff;
}
TH.ITS {
   position: relative;
   text-align: center;
	 border: 1px solid #fff;
	 background: #999;
	 vertical-align: middle;
	 margin: 0;
	 padding: 0;
	 color:#00f;
	 /*max-height:50px;*/
}
TD.ITS {
   position: relative;
   text-align: left;
	 border: 1px solid #fff;
	 background: #FFFFFF;
	 vertical-align: middle;
	 margin: 0;
	 padding: 0;
	 /*max-height:50px;*/
}
TABLE.ITS_ANSWER_STRIPE {
   position: relative;
	 width: 100%;
   vertical-align: top;
	 /*background-color: #fffacd; /*#E0E0E0; /* pink border for answer table #D0D0D0;*/
	 border: none; /*1px solid #fff; /*#E0E0E0;*/
	 /*overflow: scroll;*/
}
TD.ITS_ANSWER_STRIPE {
   position: relative;
   text-align: left;
}
TABLE.ITS_ANSWER_BOXED {
    float: left;
    border-collapse: collapse;
	border: none;
	background-color: #FFFFFF;
	margin: 0.25em;
    padding: 0.25em;
}
TD.ITS_ANSWER_BOXED  {
    border: none;
	width: 1px;
	padding: 0;
	margin: 0;
}
TD.ITS_ANSWER_BOXED SPAN.CHOICE {
    text-align: right;
	width: auto;
    border: 2px solid #aaa;
	padding: 0.25em 1em;
	margin: 0;
	background: #FFFFFF;
	white-space: nowrap;
	display: block;	
	overflow: hidden;
}
TD.ITS_ANSWER_BOXED SPAN.CHOICE PRE.MATLAB {
    display: block;
    padding: 0.25em;
    margin: -0.25em -1em;
}
DIV.ITS_ANSWER_BOXED { float: left; }
TD.ITS_ANSWER_M {
    text-align: center;
	width: auto;
	border: none; /*2px dotted #CCCCCC;*/
	padding: 0.25em;
	margin: 0;
	background: #FFFFFF;
	white-space: nowrap;
}
SPAN.TextAlphabet {
  position: relative;
  padding: 0 3px;
	margin: 5px 0 5px 5px;
  color: #000;
	background: #ffd700;
	font-weight: bold;
	border: 2px solid #aaa;
	display: inline;
}
/*
TD.ITS_ANSWER_BOXED_ALPH SPAN.TextAlphabet {
  border: #ffd700; /* gold *//*
	background: red;
}*/
TABLE.ansCheck {
  position: relative;
  width: 100%;
  border: 1px solid #fff;
}
TD.ansCheck {
  position: relative;
  border: 1px solid #fff;
  background: #fff;
  text-align: left;
}
.FEEDBACK {
 clear: both;
 margin: 1em auto;
}
div.ITS_FEEDBACK {border:1px solid #FFF}
/*------- SCORE ----------------------*/
TABLE.ITS_SCORE {
	 clear:both;
     position: relative;
     vertical-align: middle;
	 border-collapse: collapse;
	 text-align: center;
	 font-family: aerial, sans serif;
}
TD.ITS_SCORE {
   font-size: 10pt;
	 padding: 0.5em;
	 border: 1px solid silver;
	 background: #fffacd;
}
.ITS_TEXT { 
   color: blue; 
	 width:20%;
	 font-family: "Courier New";
	 text-align:right; 
	 font-weight: bold;
}
TABLE.ITS_DIST {
   font-family: manotone;
   vertical-align: bottom;
	 border: 2px solid silver;
	 border-collapse: collapse;
	 width: 1%;
}
TD.ITS_DIST {
   border: 2px solid silver;
}
DIV.ITS_DIST {
	 float: left;
	 border: none;
	 margin-left: 1em;
}
DIV.ITS_CAPTION {
	 font-size: 9pt;
	 font-family: Georgia aerial,sans serif;
	 font-weight: bold;
   background-color: #fffacd;
}	
span.ITS_correct {
  position: relative;
	border: 2px solid #006400;
  color: #006400;
	background: #adff2f;
	padding: 0.1em 0.25em;
}
span.ITS_incorrect {
  position: relative;
  border: 2px solid #800000;
	background-color: #FFC0CB;
  color: #800000; /*marron*/
	padding: 0.1em 0.25em;
}
span.ITS_partial {
  position: relative;
  border: 2px solid #A52A2A; /*brown*/
	background-color: yellow;
  color: #A52A2A;
	padding: 0.1em 0.25em;
}
span.feedbackTxt {position:relavtive;font:bold;padding:0.5em;white-space:nowrap;}
span.ITS_null {
  position: relative;
  border: 2px solid #ccc;
	background-color: #ff9;
  color: #000;
	font-weight: bold;
	padding: 0.1em 0.25em;
}
/*---------------------------*/
TABLE.ITS_index {
  position: relative;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
TD.ITS_index {
  position: relative;
  border: 2px solid #fff;
  background: #fff; /*white;/*beige; /*Lightsteelblue; /*lightcyan; /*lightyellow;*/
	text-align: left;
	font-family: Veranda; /*"Courier New",sans-serif;*/
	font-size: 12pt;
	padding: 0.5em;
	table-layout:fixed;
	border-top:0px hidden silver;
	border-bottom:1px dashed silver;
	border-right:1px double silver;
	border-left:1px double silver;
}
TD.ITS_index:hover{
	border-bottom:1px solid #666;
	color: red;/*#00f;*/
  background: #ffa;/*#556B2F;/*beige; /*Lightsteelblue; /*lightcyan; /*lightyellow;*/
	/*cursor: pointer;*/
}
span.hidden {
  position: relative;
	float:right;
	font-size: 10pt;
  text-align: center;
	margin: 0 0 0 0.5em;
	padding: 0.1em 0.25em ;
	background: #fff;
	color: #ff0;
	border: 1px solid #666;
}
span.hidden:hover {
	background: #666;
	color: #fff;
	cursor: pointer;
}
/*------------------*/
span.nhidden {
  position: relative;
  float:left;
  text-align: center;
	margin: 0 0 0 0.5em;
	background: #fff;
}/*
div.ITS_chapter .nhidden {
  position: relative;
  float: left;
  text-align: center;
	margin: 0 0 0 0.5em;
	background: #ffa;
}
div.ITS_chapter:hover span.nhidden:hover{
	color: 	#800000;
  background: #ffa;
	cursor: pointer;
}*/
TD.ITS_index:hover .nhidden {
  position: relative;
  float: left;
  text-align: center;
	margin: 0 0 0 0.5em;
	background: #ffa;
}
TD.ITS_index:hover span.nhidden:hover{
	color: 	#800000;
  background: #ffa;/*#556B2F;/*beige; /*Lightsteelblue; /*lightcyan; /*lightyellow;*/
	cursor: pointer;
}
/* --- distribution --*/
/*
img.ITS_list { 
  float: left;
	border: 1px solid red;
}
/*--------------------*/
/*==========================================================================*/
/* --- Question --- */
ul.ITS_list ul
{ position: relative;
  width: 300px;
  list-style-type: none;
  /*text-align: center;*/
  padding: 1em;
	margin: 0;
	display: inline;
	font: 10pt Georgia, serif;
	border: 1px solid blue;
}
ul.ITS_list li {
  list-style-type: none;
  /*text-align: center;*/
  padding: 0 0.25em;
	margin: 2px; /* between spacing */
	display: inline;
	border: 1px solid blue;
}
#ITS_screen_A ul#navlistIdx li#active {
  list-style-type: none;
  /*text-align: center;*/
  padding: 0;
	margin: 0;
	/*display: inline;*/
}
/*------------------------------ */
TABLE.ITS_version {
 border: 1px solid #666;
 border-collapse:collapse;
}
TD.ITS_version {
 border: 1px solid #666;
 padding: 5px 10px;
}
/*------------------------------ */
span.seg {
 border: 1px solid silver;
}
TABLE.ITS_header {
 border: 0px solid #333;
 border-collapse:collapse;
}
TD.ITS_header {
 border-right: 1px solid #666;
 padding: 0 5px;
}
/* ------------------------------
   Navigation styles
------------------------------ */
#navBoxContainer {
  position: relative;
	width: 100%;
	margin: 0;
	border: none;
	background-color: #fff;
	overflow:auto;
}
div.navContent {
  clear: both;
  position: relative;
  margin: 0 10%;
  padding: 0.25em 0;
  text-align:center;
  border: 1px solid #fff;
  background: #fff;
}
div.navContent table  {
  margin: 0 auto; 
  text-align: left;
}
div.navContainer {
  clear: both;
  position: relative;
	/*bottom: 0;*/
  /*padding: 0; 
	margin: 1em 0;*/
	background-color: #fff;
	width: 100%; /* important */
	overflow: auto;
	border: 1px solid blue;
	background-color: #faf;
}
div.navContainer div.a {
  position: relative;
  background-color: #016;
  color: blue;
  width: 10%;
  height:50px;
  font-family: arial, helvetica, sans-serif;
}
div.navContainer div#content { 
  float: left;
  width: 79.7%;
  height:50px;
  background-color: #149;
}
div.navContainer div#content:hover {
  background-color: #369;
  color: #f6f;
}
TABLE.ITS_screen_nav {
  clear: both;
  position: relative;
	border: 1px solid #fff;
	border-collapse:collapse;
	width: 100%;
	table-layout: fixed;
	background-color: #fff;
}
TD.ITS_screen_nav {
  border: 1px solid #fff;
	font: 12pt Georgia, serif;
	padding: 0.5em 0;
	text-align: center;
}
div.ITS_navigation {
  color: #666;
  padding: 0.5em 0;
  border: 2px solid #666;
  font: 14pt Georgia, serif;
  font-weight: bold;
}
/* PROBLEMS in IE: answers disappear (??) */
div.ITS_navigation:hover {
  background-color: #666;
  color: #fff;
  cursor:pointer;
}
div.ITS_chapter {
  text-align: left;
  padding: 0.25em 0.5em;
	border-bottom:2px solid silver;
	font: 14pt monotone;
  overflow: auto;
}
div.ITS_chapter:hover {
	background: #ffd700;
	border-bottom:2px solid #666;
}
div.ITS_chapter:hover .nhidden {
	position: relative;
  float: left;
  text-align: center;
	margin: 0 0 0 0.5em;
  background: #ffd700;
}
div.ITS_chapter:hover span.nhidden:hover{
	color: 	red;
	cursor: pointer;
}
/*------------------*/
span.ITS_plot {
  /*float: right;*/
  /*text-align: right;*/
	position: absolute;
	right: 0;
	top: 0;
  font: 9pt monotone;
	color: #666;
	margin: 0.5em 0;
	border: 1px solid #fff;
}
span.ITS_plot:hover {
	border: 1px solid silver;
	cursor: pointer;
}
span.menu {
  /*position: absolute;*/
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	width: 100px;
	height: 40px;
}
/*---*/
span.ITS_available {
  float: right;
	width: 200px;
	padding: 0.5em;
}
span.ITS_figs {
  position: relative;
	float:right;
	right: 0;
	font-size: 10pt;
  text-align: center;
	margin: 0 0.5em;
	padding: 0.1em 0.25em ;
	background: #fff;
	color: #ff0;
	border: 1px solid #666;
}
span.ITS_figs:hover {
	background: #666;
	color: #fff;
	cursor: pointer;
}
div.ITS_figshow {
  position: relative;
	margin: 0.25em 0;
	overflow: auto;
}
div.ITS_figshow img {
	border: 2px solid #ccc;
}
div.ITS_figshow img:hover {
  border: 2px solid #666;
	cursor: pointer;
}
div.ITS_popImage {
  overflow: auto;
	border: 1px solid green;
}
table.ITS_LIST {
  border: 2px solid silver;
	background: #fffacd;
	border-collapse: collapse;
}
td.ITS_LIST {
  background: #fff;
  border-bottom: 2px solid silver;
  text-align: left;
  padding: 0.25em;
}
.thumbnail {
  float: left;
  /*width: 200px;*/
  border: 1px solid #666;
  margin: 15px;
}
/********* BOOK ***********/
div.ITS_BOOK {
  text-align: left;
}
h2.ITS_BOOK {
  text-align: center;
	color: red;
	padding: 2em;
}
h3.ITS_BOOK {
	color: red;
	padding: 1em;
}
span.ITS_Equation {border: 1px solid silver;}
span.ITS_EQ 	  {border: 1px solid silver;font-family: aerial, sans serif;}
span.ITS_keyword  {border: 1px solid silver;color: red;}
/*----------------------*/
#answerContainer {text-align: center;}

input.ITS_submit {clear: both;color: #666;font-weight: bold;font-size: 13pt;padding:.5em 1em;margin:0;background:#fff;border: 1px solid #666;outline:0;
    behavior: url(/css/border-radius.htc);border-radius: 10px;
}
input.ITS_submit:hover,focus {color: #fff;background: #666;cursor: pointer;}
/*
input.ITS_submit{clear: both; color: #666; font-weight: bold;font-size:15px;width:80px;height:80px;border-radius:40px;line-height:100px;text-align:center;text-decoration:none;background:#fff}
input.ITS_submit:hover{color:#ccc;text-decoration:none;background:#333}
*/
/*input.ITS_submit{clear: both;width:70px;height:70px;border-radius:35px;border:0px double #ccc;font-weight:bold;font-size:16px;color:#222;line-height:100px;text-align:center;text-decoration:none;text-shadow:0 1px 0 #fff;background:#aaa}
input.ITS_submit:hover{width:70px;height:70px;border-radius:35px;border:4px double #aaa;color:#111;text-decoration:none;background:#bbbbbb;cursor:pointer}
*/
/* add submit harder and submit easier */
input.ITS_submit_old { clear: both; color: #666;font-weight: bold;font-size: 13pt;padding: 0.5em 1em;margin: 1em;background:#fff;border: 1px solid #666;outline:0;}
input.ITS_submit_old:hover,focus {color: #fff;background: #666;cursor: pointer;}

input.ITS_submit2 { clear: both; color: #666;font-weight: bold;font-size: 13pt;padding: 0.5em 1em;margin: 1em;background:#fff;border: 1px solid #666;outline:0;}
input.ITS_submit2:hover,focus {color: #fff;background: #666;cursor: pointer;}
input.ITS_submit3 {/*position: absolute; top: 0px; right:0;*/ clear: both;color: #666;font-weight: bold;font-size: 13pt;padding: 0.5em 1em;margin: 1em;background:#fff;border: 1px solid #666;outline:0;}
input.ITS_submit3:hover,focus {color: #fff; background: #666;cursor: pointer;}

input.test {
    position: absolute;
    top: 25px;
    right:25px;
    background-image:url('admin/icons/arrow.small.right.gif');
    color: #666;
	/*font-weight: bold;*/
	font-size: 20pt;
	/*padding: 0.5em;*/
	background:#fff;
	font-family: arial;
	margin: 1em 0;
	border: 1px solid #fff;
	outline: 0; /* get rid of the dotted line */
	/*border-top: 1px solid #666;
	border-bottom: 1px solid #666;*/
}
input.test:hover {color: #000;border: 1px solid #000;cursor: pointer;outline: 0;}
/*
input.ITS_submit {clear: both;color: #666;font-weight: bold;font-size: 13pt;padding: 0.5em 1em;margin: 1em;background:#fff;border: 1px solid #666;outline:0;}
input.ITS_submit:hover,focus {color: #fff;background: #666;cursor: pointer;}
*/
input.test:hover {color: #000;border: 1px solid #000;cursor: pointer;outline: 0;}
input.ITS_skip_old {
    position: absolute;
    top: 100px;
    right:0;
    background-image:url('admin/icons/arrow.small.right.gif');
    color: #666;
	font-weight: bold;
	font-size: 12pt;
	padding: 0.5em;
	background:#fff;
	font-family: arial;
	margin: 1em 0;
	border: 1px solid #fff;
	behavior: url(/css/border-radius.htc);
	border-radius: 10px;
	outline: 0; /* get rid of the dotted line */
}
input.ITS_skip_old:hover {color: #000;border: 1px solid #666;cursor: pointer;}
input.ITS_skip {
    position: relative;
    top: 10px;
    right: 0px;
    width: 0px;
	height: 15px;
	background-color: #fff;
	border-style: solid;
	border-width: 45px 30px 0px 30px;
	border-color: #aaa transparent transparent transparent;
}
input.ITS_skip:hover{width: 0px;
	height: 10px;
	border-style: solid;
	border-width: 45px 30px 0px 30px;
	border-color: #bbb transparent transparent transparent;
	cursor: pointer;
	}
input.ITS_skip2 {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif
}
input.ITS_skip2:hover{ cursor: pointer;}
/*input.ITS_skip3:hover {color: #000;border: 1px solid #000;cursor: pointer;outline: 0;}*/
input.ITS_skip3 {
    position: relative;
    top: 7px;
    right:15px;
    width: 0px;
	height: 0px;
	background-color: #fff;
	border-style: solid;
	border-width: 30px 45px 30px 0;
	border-color: transparent #aaa transparent transparent;
}
input.ITS_skip3:hover{width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 45px 30px 0;
	border-color: transparent #bbb transparent transparent;
		cursor: pointer;}
input.ITS_skip4 {
    position: relative;
    top: 7px;
    right:-15px;
	width: 0px;
	height: 0px;
	background-color: #fff;
	background:#fff;
	border-style: solid;
	border-width: 30px 0 30px 45px ;
	border-color: transparent  transparent transparent #aaa;
}
input.ITS_skip4:hover{width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 0 30px 45px ;
	border-color: transparent  transparent transparent #bbb;
	cursor: pointer;}

div.DiffLevel { position:absolute;border:none;top:0;left:-15px}
div.DifficultyBar { position:relative; background:#fff; border:1px solid #c0c0c0; height:50px;text-align:middle; margin:auto;
	 border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
}
/*div.DifficultyBar div { background: #28B8C0; height: 50px; }*/
div.DiffBarSel {border: 2px solid #666; background: #ddd;
	 border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
}
div.DifficultyBar-in { position:relative; border:1px solid #666; background:#ddd; height:5px; text-align:middle; margin:auto;}
div.DifficultyBar-in div { background:#666; height: 5px; position: relative; top: 0px; right:0px;}
input.star-on{
  width: 16px;
  height: 15px;
  display: block;
  background: url("classes/stars.gif") no-repeat 0 0;
}
input.star-on2{
	width: 16px;
  height: 15px;
  display: block;
  background: url("stars.gif") no-repeat 0 0;
}
div.userContainer {
  position: relative;
	width: 100%;
  border-top: 2px solid #666;
	border-bottom: 2px solid #666;
  margin: 0;
	margin-top: 20px;
  padding: 0.5em 0;
	text-align: left;
  font:11pt Monotype, serif;
  background: #eee;
  vertical-align: middle;	
}
/*---- Accordian --------------------*/
#accor div h3 {
  border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
  border-top: 2px solid #666;
	border-bottom: 2px solid #ffffff;
}
#accor div a { color: #666; }
#accor div a span { color: #999999; }
/*---- Logout button ----------------*/
div.logout {
  position: relative;
  float: right;
  padding: 0.2em;
	margin: 0.25em;
  font: 12pt Georgia, serif;
	border: 1px solid #fff;
  background-color: #dcdcdc;
}
div.logout a {
  color: #666;
	text-decoration: none;
}
div.logout:hover,#logout:focus {
	border: 1px solid #AAA;
	cursor: pointer;
}
div.logout:active {
	color: black;
	background-color: #ffd700;
	cursor: pointer;
}
#errorContainer {
  clear: both;
  position: relative;
  width: 100%;
  color: red;font: italic bold 14px Georgia, sans-serif;
  display: none;overflow: hidden;
}
#errorContainerContent {
  position: relative;
  background-color: #ffd700;
	padding: 0.5em;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}
/*-----------------------------------*/
#role {
  display: inline;
}
SELECT.ITS_select {
  border: 2px solid #aaa;
  background: #FFF;
  /*width: 300px;*/
  padding: 0;
  color: #666;
  text-align: center;
  outline: 0;
}
span.instr {
 position: relative;
 /*float: right;*/
 padding: 0.25em;
 margin: 10% 0 10% -90%;
 color: #666;
 border: 1px solid #fff;
}
span.instr:hover {
 border: 1px solid #aaa;
 cursor: pointer;
}
span.instr:active {
 border: 1px solid red;
 cursor: pointer;
}
div.ansCheck {
 margin-right: 5px;
 padding: 0.25em 0;
 background: #fff;
}
input.ansCheck {
 display: none;
}
label.ansCheck {
 font-size: 10pt;
 border: 2px solid #dcdcdc;
 padding: 0.1em 0.3em;
 margin-left: 3px;
 color: #666;
}
label.ansCheck:hover {
 border: 2px solid blue;
 color: blue;
 cursor: pointer;
}
label.ansCheck_sel {
 border: 2px solid #aaa;
 color: #000;
 background: #ffd700;
}
label.ansCheck_inactive {
 font-size: 10pt;
 border: 2px solid #dcdcdc;
 padding: 0.1em 0.3em;
 margin-left: 3px;
 color: #666;
}
/*==========================================================================
               F O O T E R
============================================================================*/
#footerContainer {clear: both;color: #999;font-size: 80%;padding-top: 2em;text-align: center;border-top: 2px solid #999999;
	/*overflow:auto;*/
}
div.footer_list {
  position: relative;
  background-size:100% 100%;
  -webkit-background-origin:content-box; /* Safari */
  background-origin:content-box;
	clear: both;
	color: #999;
	width: 100%;
	height: 100%;
}
/*#footerContainer ul li { display: inline; }*/
.navlist li { display: inline; }
div.ITS_footer {position: relative;height: 100px;border: 1px solid #FFFFFF;text-align: center;}
ul.ITS_footer {
  position: relative; 
	/*margin-bottom: 0;*/
	color: #999;
	width: 80%;
  /*list-style-type: none;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	display: block;
}
ul.ITS_footer li{font-size: 8pt;display: block;text-align:center;}
#footer_list {
  padding-left: 25px;
  padding-right: 25px;
}
div.footer_list {
 clear: both;
 position:relative;
 margin: 10px;
 overflow: auto;
}
ul.footer {position:relative;list-style-type: square;padding:0;margin-left: 1em;}
ul.footer li 		 { text-align: left; padding: 0.25em; margin:0;}
ul.footer li a       { text-decoration: none;      }
ul.footer li a:hover { text-decoration: underline; }

div.footer_col {
 float: left;
 width: 200px;
 padding: 0.5em 0;
}
/*---- Logout button ----------------*/
#resBoxContainer {
 font-size: 10pt;
 border: 2px solid #dcdc11;
 padding: 0.1em 0.3em;
 margin-left: 3px;
 color: #666;
 background: #ffd700;
}
/*================= COLORS ================#dcdcdc;/
body 					{	background: #fff;      } 
#pageContainer          {	background: #fff;      }
#menuContainer          {	background: #fff;      }
#messageContainer       {	background: #fff;      }
#messageContainer span  {	background: #fff;      }
#messageContainerContent{   background: #ee7;      }
#contentContainer       {	background: #fff;      }
div.ITS_question_text   {	background: #fff;      }
div.ITS_question_text2  {	background: red;       }
div.ITS_ANSWER          {	background: #fff;      }
div.navContainer        {   background: #fff;  
                            border: 1px solid #fff;}
div.navContent 			{   border: 1px solid #fff;}
/*#footerContainer        {	background: #fff;     }/**/
div.logout              {	background: #fff;      }

/*================= DEBUG =================/
#pageContainer        {	background: pink;      }
#menuContainer        {	background: lime;      }
#messageContainer     {	background: purple;    }
#scoreContainer       {	background: gray;      }
#modeContainer		  {	background: pink;      }
#modeSelContainer	  {	background: lightblue; }
#modeContentContainer {	background: #00a;      }
#navContainer         {	background: #f8f;      }

#ITS_QUESTION 		  { background: brown;	   }
div.ITS_QUESTION 	  { background: orange;    }
div.ITS_question_text {	background: yellow;    }
#contentContainer     {	background: blue;   border: 4px solid red;   }

#ITS_ANSWER           {	background: darkgreen; }
div.ITS_ANSWER        {	background: khaki; }
div.navContainer      { background: limegreen; }
div.navContent 		  { border: 1px solid red; }

TD.ITS_QUESTION 	  { background: #eef;      }
#logout               {	background: red;       }
#frameContainer		  {	background: magenta;   }

/* QUESTION + ANSWER /
#ITS_QUESTION 			{ border: 3px solid blue; }
#ITS_ANSWER 			{ border: 3px solid red;	}
div.ITS_QUESTION 		{ border: 3px solid #88e;}
div.ITS_ANSWER 			{ border: 3px solid pink;	}
.FEEDBACK 				{ border: 2px dashed olive; }/**/

/* FOOTER /
#footer_list 			{ border: 2px solid green;  }
ul.footer 				{ border: 3px solid red;	}
div.footer_list 		{ border: 3px solid pink;	}/**/
/*=========================================*/
